<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whu.cs.nuclear.platform.mapper.WanoMapper">
  <resultMap id="BaseResultMap" type="com.whu.cs.nuclear.platform.pojo.Wano">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wano_type" jdbcType="VARCHAR" property="wanoType" />
    <result column="wano_id" jdbcType="INTEGER" property="wanoId" />
    <result column="wano_desc" jdbcType="VARCHAR" property="wanoDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, wano_type, wano_id, wano_desc
  </sql>
  <select id="selectByExample" parameterType="com.whu.cs.nuclear.platform.pojo.WanoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wano
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wano
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wano
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.whu.cs.nuclear.platform.pojo.WanoExample">
    delete from wano
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whu.cs.nuclear.platform.pojo.Wano">
    insert into wano (id, wano_type, wano_id, 
      wano_desc)
    values (#{id,jdbcType=INTEGER}, #{wanoType,jdbcType=VARCHAR}, #{wanoId,jdbcType=INTEGER}, 
      #{wanoDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whu.cs.nuclear.platform.pojo.Wano">
    insert into wano
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wanoType != null">
        wano_type,
      </if>
      <if test="wanoId != null">
        wano_id,
      </if>
      <if test="wanoDesc != null">
        wano_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wanoType != null">
        #{wanoType,jdbcType=VARCHAR},
      </if>
      <if test="wanoId != null">
        #{wanoId,jdbcType=INTEGER},
      </if>
      <if test="wanoDesc != null">
        #{wanoDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whu.cs.nuclear.platform.pojo.WanoExample" resultType="java.lang.Long">
    select count(*) from wano
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wano
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.wanoType != null">
        wano_type = #{record.wanoType,jdbcType=VARCHAR},
      </if>
      <if test="record.wanoId != null">
        wano_id = #{record.wanoId,jdbcType=INTEGER},
      </if>
      <if test="record.wanoDesc != null">
        wano_desc = #{record.wanoDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wano
    set id = #{record.id,jdbcType=INTEGER},
      wano_type = #{record.wanoType,jdbcType=VARCHAR},
      wano_id = #{record.wanoId,jdbcType=INTEGER},
      wano_desc = #{record.wanoDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whu.cs.nuclear.platform.pojo.Wano">
    update wano
    <set>
      <if test="wanoType != null">
        wano_type = #{wanoType,jdbcType=VARCHAR},
      </if>
      <if test="wanoId != null">
        wano_id = #{wanoId,jdbcType=INTEGER},
      </if>
      <if test="wanoDesc != null">
        wano_desc = #{wanoDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whu.cs.nuclear.platform.pojo.Wano">
    update wano
    set wano_type = #{wanoType,jdbcType=VARCHAR},
      wano_id = #{wanoId,jdbcType=INTEGER},
      wano_desc = #{wanoDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>